@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.navbar-theme {
  /*color: #553C19 !important;*/
  color: rgba(85,60,25,0.9) !important;
  font-weight: bold;
  font-size: 1.2rem;
  text-transform: uppercase;
}
.titulosh1 {
  text-shadow: 4px 6px 6px #aaa;
  text-transform:none;
  font-weight: 400;
  color: rgba(85,60,25,0.9);
}